<!-- navbar-desktop-view -->
<main class="navbar-container1" id="navbar-desktop-view">
  <main class="navbar-container2">
    <section class="navbar-section1">
      <span class="name">Abdulrahim</span>
      <span class="dot">.</span>
    </section>
    <section class="navbar-section2">
      <a href="#home" class="link">Home</a>
      <a href="#projects" class="link">Projects</a>
      <a href="#resume" class="link">Resume</a>
      <a href="#contact" class="link">Contact</a>
    </section>
  </main>
</main>
<!-- navbar-mobile-view -->
<app-mobile-navbar id="navbar-mobile-view"></app-mobile-navbar>
