<main class="home-container1" id="home">
  <main class="home-container2">
    <section class="home-section1">
      <aside class="personal-info">
        <div class="jobDesc">
          <span class="jobTitle">Fullstack Web developer</span>
          <span class="jobGreeting">Hello I'm</span>
          <span class="name">Abdulrahim</span>
        </div>
        <div class="about">
          <span>Fullstack web developer with over +1 year in industry.</span>
          <span>Skilled in a variety of web technologies,</span>
          <span> always striving to do my best.</span>
        </div>
        <div class="contact">
          <a
            href="https://drive.google.com/file/d/1dVoUb9Ro8rPcnboZSaVZ9CkSeTzU4edd/view?usp=drive_link"
            target="_blank"
          >
            <div class="cvBTN">
              <span class="mr-2">SHOW CV</span>
              <div class="face-container">
                <div class="eyes-container">
                  <div #leftEyeContainer class="eye-container">
                    <div class="eye">
                      <div #leftPupil class="pupil"></div>
                    </div>
                  </div>
                  <div #rightEyeContainer class="eye-container">
                    <div class="eye">
                      <div #rightPupil class="pupil"></div>
                    </div>
                  </div>
                </div>
                <div class="simple-smile">︶</div>
              </div>
            </div>
          </a>
          <a href="https://github.com/AbdoSakrEgy" target="_blank">
            <div class="icon">
              <ng-icon name="bootstrapGithub" />
            </div>
          </a>
          <a
            href="https://www.linkedin.com/in/abdulrahim-sakr-336937258/"
            target="_blank"
          >
            <div class="icon">
              <ng-icon name="bootstrapLinkedin" />
            </div>
          </a>
        </div>
      </aside>
      <aside class="personal-avatar">
        <svg class="circle1" viewBox="0 0 120 120">
          <circle
            class="border1"
            cx="60"
            cy="60"
            r="50"
            fill="none"
            stroke="#00ff99"
            stroke-width="5"
            stroke-dasharray="10 15 20 25 30 35"
            stroke-linecap="round"
          ></circle>
          <clipPath id="circleMask">
            <circle cx="60" cy="60" r="49"></circle>
          </clipPath>
          <image
            href="../../../assets/PersonalImage.png"
            x="10"
            y="10"
            width="100"
            height="100"
            clip-path="url(#circleMask)"
          />
        </svg>
      </aside>
    </section>
    <section class="home-section2">
      <div class="stats">
        <div class="statsNumber">1</div>
        <div class="statsInfo">
          <span>Years of</span>
          <span>experience</span>
        </div>
      </div>

      <div class="stats">
        <div class="statsNumber">3</div>
        <div class="statsInfo">
          <span>Technologies</span>
          <span>mastered</span>
        </div>
      </div>

      <div class="stats">
        <div class="statsNumber">1</div>
        <div class="statsInfo">
          <span>Companies</span>
          <span>i worked for</span>
        </div>
      </div>

      <div class="stats">
        <div class="statsNumber">13</div>
        <div class="statsInfo">
          <span>Projects</span>
          <span>completed</span>
        </div>
      </div>
    </section>
  </main>
</main>
